@model Rocinante.Types.ViewModels.PostViewModel
@{
    ViewBag.Title = Model.Site.Name;
    Layout = "_Layout.cshtml";
}

<h1>@Model.Post.Title</h1>

<div id="post">
  @Model.Post.RenderedContent
</div>